/* #2196F3 синий
#212121 черный
#757575 серый*/

:root {
  --first-text-color: #212121;
  --second-text-color: #ffffff;
  --text-p-color: #757575;
  --accent-color: #2196f3;
}
/*header******/

body {
  font-family: Roboto, sans-serif;
}
.header-logo {
  color: var(--accent-color);
}
.link-logo {
  font-family: Raleway;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo-studio {
  color: var(--first-text-color);
}

.list {
  list-style: none;
}
.header-link .link {
  color: var(--first-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-link .link:hover,
.header-link .link:focus {
  color: var(--accent-color);
}

.header-tell {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-p-color);
}
.header-tell:hover,
.header-tell:focus {
  color: var(--accent-color);
}

/* Банер********/

.hero {
  color: var(--second-text-color);
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

/* Преимущества*/

.list.title {
  color: var(--first-text-color);
  font-size: 14px;
}
.pre-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  color: var(--text-p-color);
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся********/

.section-work {
  background: var(--second-text-color);
}

.section-title {
  color: var(--first-text-color);
  font-size: 36px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Наша команда*********/

.section-group {
  background: #f5f4fa;
}
.name {
  color: var(--first-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.professional {
  color: var(--text-p-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Футер**********/
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}
.footer-logo {
  text-decoration: none;
}
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-list {
  font-family: Roboto;
  font-style: normal;
}
.footer-studio {
  color: var(--second-text-color);
}
.footer-adress {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-decoration: none;
}
.footer-nav {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
